appdirs==1.4.4
black==20.8b1
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
click==7.1.2
coverage==5.4
dataclasses==0.8
Django==2.2.18
django-nose==1.4.6
djangorestframework==3.11.2
docutils==0.15.2
idna==2.8
importlib-metadata==1.3.0
keyring==20.0.0
more-itertools==8.0.2
mypy-extensions==0.4.3
nose==1.3.7
packaging==20.9
pathspec==0.8.1
pkginfo==1.5.0.1
psycopg2==2.8.4
Pygments==2.7.4
PyJWT==1.7.1
pyparsing==2.4.7
python-decouple==3.1
pytz==2019.3
PyYAML==5.4.1
readme-renderer==24.0
regex==2021.4.4
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
sqlparse==0.3.0
toml==0.10.2
tqdm==4.36.1
twine==3.1.1
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.25.6
webencodings==0.5.1
zipp==0.6.0
